<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;700&display=swap" rel="stylesheet">

<script>
    function clamp(val, min, max) {
        return Math.min(Math.max(val, min), max);
    }

    let hasUpdatedResize = false
    const MIN_WIDTH = 900;
    function onResize() {
        hasUpdatedResize = false
        const scale = clamp(window.innerWidth / MIN_WIDTH, 0.75, 1);
        document.documentElement.style.setProperty('--mult', scale);
    }

    window.addEventListener('resize', () => {
        if (!hasUpdatedResize) {
            hasUpdatedResize = true;
            requestAnimationFrame(onResize)
        }
    });
    onResize();
</script>

<style>

:root {
    --header-scale: 1.25;
    --mult: 1;
    --black: #1b1c1d;
    --grey: #aaa;
    --teal: #315c6d;
    --white: #fff;
    --color1: #4f84a6;
    --color2: #98d7e9;
    --color3: #ddf1f8;
    --color4: #feb06a;
    --color5: hwb(28 42% 0% / 0.125);
    --color6: #ddf1f8;
}

html, body, p {
    font-size: 16px;
}

html, body {
    background: none;
}

/* start headers */
.header,
.category-table .category .text span { /* all headers */
    margin: 3rem 0 1.38rem;
    font-weight: 400;
    line-height: 1;
    font-family: 'Markazi Text', serif;
}

.header { /* h2 */
    padding-bottom: 0;
    border-bottom: 1px solid var(--color3);
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(2.441rem * var(--header-scale) * var(--mult));
}
.header i {
    font-size: 18px;
}

.category-table .category .text span { /* h3 */
    font-size: calc(1.953rem * var(--header-scale) * var(--mult));
}
/* end headers */

/* start grid */
.container {
    padding-right: 0;
    padding-left: 0;
}

@media(min-width: 768px) {
    .container {
        width:100%;
    }
}

@media(min-width: 992px) {
    .container {
        width:100%;
    }
}

@media(min-width: 1200px) {
    .container {
        width:100%;
    }
}
/* end grid */

/* start category-item */
.address-box {
    min-width: 100%;
    max-width: 100%;
    border-radius: 5px;
    background-color: var(--color3);
    border-color: var(--color3);
    margin: 10px auto;
}
.address-box:hover {
    background-color: var(--white);
}

.category-table .category .image img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
}
/* end category-item */

/* start calendar */
.calendar .current-appointment .current {
    background-color: var(--color1);
    background-color: var(--color3);
    border-radius: 5px;
}

.calendar-row .btn {
    border-radius: 0;
    box-shadow: none;
}

.calendar-row .btn.btn-default:disabled {
    background-color: var(--color5);
    border-color: var(--color5);
}

.calendar-row .btn.btn-default.active {
    background-color: var(--color4);
    border-color: var(--color4);
}

.calendar-row .btn.btn-default {
    background-color: var(--white);
    border-color: var(--white);
}

/* end calendar */

/* start buttons */
.btn {
    border-radius: 5px;
    /* color: #fff; */
    /* background-color: var(--color1); */
    /* border-color: var(--color1); */
}
.btn.btn-primary, .btn.btn-success {
    color: #fff;
    border-radius: 5px;
    background-color: var(--color4);
    border-color: var(--color4);
}

.btn.btn-warning {
    color: #fff;
    border-radius: 5px;
    background-color: var(--color1);
    border-color: var(--color1);
}
.btn.btn-link {
    color: var(--black);
    border-radius: 5px;
    background-color: var(--color3);
    border-color: var(--color3);
}
/* end buttons */


</style>