body,
html {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
}

body {
    background-image: linear-gradient(145deg, var(--white), var(--color6));
}

.grid {
    display: grid;
    column-gap: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns:
        [full-start] 20px [main-start] repeat(12, [col-start] 1fr) [main-end] 20px [full-end];
}

p {
    margin-bottom: 1rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    margin: 3rem 0 1.38rem;
    font-weight: 400;
    line-height: 1;
    font-family: 'Markazi Text', serif;
    // color: var(--color1);
}

strong {
    // color: var(--color1);
}

h1,
.h1 {
    margin-top: 0;
    font-size: calc(3.052rem * var(--header-scale));
}

h2,
.h2 {
    font-size: calc(2.441rem * var(--header-scale));
}

h3,
.h3 {
    font-size: calc(1.953rem * var(--header-scale));
}

h4,
.h4 {
    font-size: calc(1.563rem * var(--header-scale));
}

h5,
.h5 {
    font-size: calc(1.25rem * var(--header-scale));
}

small,
.text_small {
    font-size: 0.8rem;
}



.span-4:nth-child(3n + 1) {
    grid-column-start: main-start;
    grid-column-end: col-start 5;
}

.span-4:nth-child(3n + 2) {
    grid-column-start: col-start 5;
    grid-column-end: col-start 9;
}

.span-4:nth-child(3n + 3) {
    grid-column-start: col-start 9;
    grid-column-end: main-end;
}

.span-6:nth-child(2n + 1) {
    grid-column-start: main-start;
    grid-column-end: col-start 7;
}

.span-6:nth-child(2n + 2) {
    grid-column-start: col-start 7;
    grid-column-end: main-end;
}

.span-gold:nth-child(2n + 1) {
    grid-column-start: main-start;
    grid-column-end: col-start 8;
    grid-row: 1;
}

.span-gold:nth-child(2n + 2) {
    grid-column-start: col-start 8;
    grid-column-end: main-end;
    grid-row: 1;
}

.span-gold.flip:nth-child(2n + 1) {
    grid-column-start: main-start;
    grid-column-end: col-start 6;
}

.span-gold.flip:nth-child(2n + 2) {
    grid-column-start: col-start 6;
    grid-column-end: main-end;
}

.span-12 {
    grid-column-start: main-start;
    grid-column-end: main-end;
}

.bright {
    color: var(--color4);
}